---
- name: ensure firewalld is started and enabled
  ansible.builtin.service:
    name: firewalld
    state: started
    enabled: true

- name: "FirewallD: Log Denied"
  ansible.builtin.lineinfile:
    path: /etc/firewalld/firewalld.conf
    regexp: "^LogDenied=.*"
    line: "LogDenied=all"
  notify: firewall_reload

- name: "open up port {{ ssh_port|default(22) }} for SSHd alternative port"
  ansible.posix.firewalld:
    immediate: true
    permanent: true
    port: "{{ ssh_port | default(22) }}/tcp"
    state: enabled

- name: "open up NTP if we have peers"
  ansible.posix.firewalld:
    immediate: true
    permanent: true
    port: "123/udp"
    state: enabled
  when: ntp_peers|default([])|length > 0

- name: "SELinux allow SSHd to use port {{ ssh_port|default(22) }}"
  community.general.seport:
    proto: tcp
    ports: "{{ ssh_port | default(22) }}"
    setype: ssh_port_t

- name: remove firewalld services no longer desired
  ansible.posix.firewalld:
    service: "{{ item }}"
    immediate: true
    permanent: true
    state: disabled
  with_items:
    - cockpit
    - sshd

- name: check if mta is already set to sendmail
  ansible.builtin.shell: alternatives --display mta | grep link | grep /usr/sbin/sendmail.exim
  changed_when: false
  failed_when: false
  register: mta

- name: set mta alternative to exim
  ansible.builtin.command: alternatives --set mta /usr/sbin/sendmail.exim
  when: mta.failed

# Kernel Dump is not needed on a production system, disable.
# This frees up about 160MB of RAM, especially important on low-memory VMs.
- name: "kdump: disable service"
  ansible.builtin.service:
    name: kdump
    state: stopped
    enabled: false
  when: ansible_os_family == 'RedHat'

- name: "kdump: disable crashkernel"
  ansible.builtin.lineinfile:
    path: /etc/default/grub
    backrefs: true
    regexp: "^GRUB_CMDLINE_LINUX=(.*)crashkernel=[a-z]+(.*)"
    line: "GRUB_CMDLINE_LINUX=\\1crashkernel=no\\2"
    state: present
  when: ansible_os_family == 'RedHat'
  notify: update_grub

# Automatic updates
- name: "Automatic updates: {{ 'yes' if base_autoupdate else 'no' }}"
  ansible.builtin.dnf:
    name: dnf-automatic
    state: "{{ 'installed' if os_autoupdate else 'absent' }}"

- name: "Automatic updates: config"
  ansible.builtin.copy:
    src: dnf_automatic.conf
    dest: /etc/dnf/automatic.conf
    mode: "0600"
    owner: root
    group: root
  when: os_autoupdate

- name: "Automatic updates: systemd timer config dir"
  ansible.builtin.file:
    path: /etc/systemd/system/dnf-automatic.timer.d/
    state: directory
    mode: "0700"
    owner: root
    group: root
  when: os_autoupdate

- name: "Automatic updates: schedule"
  ansible.builtin.copy:
    src: dnf_automatic_schedule.conf
    dest: /etc/systemd/system/dnf-automatic.timer.d/local.conf
    mode: "0600"
    owner: root
    group: root
  when: os_autoupdate

- name: "Automatic updates: started"
  ansible.builtin.systemd:
    name: dnf-automatic.timer
    enabled: true
    state: started
  when: os_autoupdate
