---
- name: Install Rocky Linux repo files
  ansible.builtin.template:
    src: "rocky/{{ item }}.j2"
    dest: "/etc/yum.repos.d/{{ item }}"
    owner: root
    mode: "644"
  with_items:
    - "rocky.repo"
    - "rocky-addons.repo"
    - "rocky-devel.repo"
    - "rocky-extras.repo"
  when: ansible_distribution == "Rocky"

- name: Install EPEL repo files
  ansible.builtin.template:
    src: "epel/{{ item }}.j2"
    dest: "/etc/yum.repos.d/{{ item }}"
    owner: root
    mode: "644"
  with_items:
    - "epel.repo"
    - "epel-testing.repo"

- name: Install EPEL keys
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "/etc/pki/rpm-gpg/{{ item }}"
    owner: root
    mode: "644"
  with_items:
    - "RPM-GPG-KEY-EPEL-10"

- name: ensure EPEL release is not installed as we use our own repo files
  ansible.builtin.dnf:
    name: "epel-release"
    state: absent
  register: epel_removed

- name: Install EPEL repo after removing epel-release
  when: epel_removed.changed
  block:
    - name: Install EPEL repo files
      ansible.builtin.template:
        src: "epel/{{ item }}.j2"
        dest: "/etc/yum.repos.d/{{ item }}"
        owner: root
        mode: "644"
      with_items:
        - "epel.repo"
        - "epel-testing.repo"
    - name: Install EPEL keys
      ansible.builtin.copy:
        src: "{{ item }}"
        dest: "/etc/pki/rpm-gpg/{{ item }}"
        owner: root
        mode: "644"
      with_items:
        - "RPM-GPG-KEY-EPEL-10"

- name: upgrade all packages to the latest versions
  ansible.builtin.dnf:
    name: "*"
    state: latest
    update_cache: true
  ignore_errors: false
  register: packages_updated
  when: not skip_updates|default(false)

- name: "Force reconnect after package upgrades as python version might have changed"
  ansible.builtin.meta: reset_connection
- name: install base build packages for RHEL-like systems
  ansible.builtin.dnf:
    name: # "exim" not in RedHat 10?
      - "wget"
      - "openssh-clients"
      - "chrony"
      - "acpid"
      - "nano"
      - "nc"
      - "bzip2"
      - "dnf-utils"
      - "rsyslog"
      - "tar"
      - "unzip"
      - "python3-policycoreutils"
      - "fail2ban"
      - "firewalld"
      - "setools-console"
    state: installed
