---
- name: chrony_restart
  ansible.builtin.service:
    name: chronyd
    state: restarted

- name: journald_restart
  ansible.builtin.service:
    name: systemd-journald
    state: restarted

- name: rsyslog_restart
  ansible.builtin.service:
    name: rsyslog
    state: restarted

- name: cpupower_restart
  ansible.builtin.service:
    name: cpupower
    state: restarted

- name: sysfs_restart
  ansible.builtin.service:
    name: sysfs
    state: restarted

- name: sshd_restart
  ansible.builtin.service:
    name: "{{ 'sshd' if ansible_os_family == 'RedHat' else 'ssh' }}"
    state: restarted

- name: firewall_reload
  ansible.builtin.service:
    name: firewalld
    state: restarted

- name: set_hostname
  ansible.builtin.command: "hostnamectl set-hostname {{ inventory_hostname }}"
- name: fail2ban_restart
  ansible.builtin.service:
    name: fail2ban
    state: restarted

- name: auditd_reload
  ansible.builtin.service:
    name: auditd
    state: restarted
    use: service

- name: sysctl_reload
  ansible.builtin.command: sysctl -p
- name: update_grub
  ansible.builtin.command: "{{ 'grub2-mkconfig -o /boot/grub2/grub.cfg' if ansible_os_family == 'RedHat' else 'grub-mkconfig -o /boot/grub/grub.cfg' }}"
- name: reboot
  ansible.builtin.reboot:
    msg: "rebooting now"
    connect_timeout: 10
    post_reboot_delay: 15
  throttle: 1
