{# LSI MegaRaid and SATA SSDs do not get along, need to set QD=1 to disable NCQ or they may throw errors #}
{% if lsi_reset_workaround %}
{%   for device in ansible_facts["device_links"]["ids"] %}
{%     set d = ansible_facts["devices"][device] %}
{%     if "LSI" in d["host"]|default("") and d["rotational"]|default("1") == 0 and d["removeable"]|default("1") == 0 and d["vendor"] == "ATA" %}
block/{{ device }}/device/queue_depth = 1
{%     endif %}
{%   endfor %}
{% endif %}
